body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  margin: 0;
  min-height: 100%;
  background-image: url("https://wallpaperaccess.com/full/2040033.jpg");
  /*https://community.paraplegie.ch/images/blog/2019-08-20-meditation_think_its_just_for_monks/meditation_cover.jpg*/
  background-size: cover;
  transition: background-image 3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#allElementContainer {
  width: 500px;
  min-height: 400px;
  background-color: orange;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  /*-webkit-transform: translate(-50%, -50%); Chrome, Safari, Opera */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px black, -1px -1px #444;
  border: 2px solid white;
  box-shadow: 5px 10px 15px 15px rgba(0, 0, 0, 0.8);
}
.clockTitle {
  text-align: center;
  margin: auto;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-bottom: 1px solid white;
}
#breakAndSessionDuration {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  text-align: center;
}

.breakAndSessionLabels {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.durationLabels {
  width: 100%;
  margin: 0;
  padding-bottom: 5px;
}
.incrementDecrement {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
#session-length {
  width: 60px;
}
#break-length {
  width: 60px;
}

.bottomSection {
  display: flex;
  align-self: center;
  margin-top: 5px;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-top: 1px solid white;
}
.currentSecsAndLabel {
  font-size: 40px;
  width: 50%;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid white;
}
#timer-label {
  padding-bottom: 5px;
}
.onOffReset {
  display: flex;
  padding-top: 15px;
  width: 75%;
  justify-content: space-around;
}
.fa {
  transition: all 0.2s ease-in-out;
}
.fa:hover {
  cursor: pointer;
  color: orange;
}
.fa-arrow-circle-o-up:hover {
  transform: translateY(-2px);
}
.fa-arrow-circle-o-down:hover {
  transform: translateY(2px);
}
.fa-refresh:hover {
  transform: scale(1.1);
  color: red;
}
.fa-power-off:hover {
  transform: scale(1.1);
  color: yellow;
}
.designBy {
  color: white;
  font-size: 26px;
  border-bottom: none;
  padding-top: 50px;
  width: 500px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
    1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  border-bottom: 1px solid white;
}
.designBy a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  #allElementContainer {
    width: 90%;
    font-size: smaller;
    margin-bottom: 30px;
    min-height: 300px;
    padding-bottom: 18px;
    margin-top: 20px;
  }

  .clockTitle {
    font-size: 26px;
  }
  #breakAndSessionDuration {
    font-size: 16px;
  }
  .currentSecsAndLabel {
    font-size: 30px;
  }
  .onOffReset {
    font-size: 10px;
  }
  .designBy {
    padding-top: 20px;
    font-size: 20px;
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .currentSecsAndLabel {
    width: 70%;
  }
}
